<!--div class="jumbotron text-center">
  <h1>Pagina Principal</h1> 
  <p>{{ message }}</p>
  < <button ng-if="existToken()" ng-click="logout()">Cerrar Sesion</button> >
</div-->
<script type="text/javascript">
	$('.carousel').carousel({
  interval: 4000
})

</script>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

	<div class="carousel-inner">
		<div class="item active">
			<img src="images/slides/2.jpg" style="width: 100%; height: 100%;"/>
			<div class="carousel-caption">
				<h3>Crea tu perfil, es fácil y rápido.</h3>
			</div>
		</div>

		<div class="item">
			<img src="images/slides/1.jpg"  style="width: 100%; height: 100%;"/>
			<div class="carousel-caption">
				<h3>Únete a nuestra comunidad. Empieza a crear y cocinar.</h3>
			</div>
		</div>

		<div class="item">
			<img src="images/slides/3.jpg"  style="width: 100%; height: 100%;"/>
			<div class="carousel-caption">
				<h3>Recetas al alcance de tus manos.</h3>
			</div>
		</div>
	</div>
</div>