<div>
    <h2>Registrarse</h2>
        <form class="form-horizontal" ng-submit="signUp()">
            <div class="form-group">
                <label class="control-label col-md-2 col-md-offset-3" for="username">nombre de usuario: </label>
                <div class="col-md-4">
                    <input class="form-control" name="username" type="text" ng-model="username" ng-blur="verifyUser()">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 col-md-offset-3" for="email">correo: </label>
                <div class="col-md-4">
                    <input class="form-control" name="email" type="email" ng-model="email" ng-blur="verifyEmail()">
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <label class="control-label col-md-2" for="password">contraseña: </label>
                <div class="col-md-4">
                    <input class="form-control" name="password" type="password" ng-model="password">
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="form-group">
                    <div class="col-md-3"></div>
                    <label class="control-label col-md-2" for="passwordConfirm">confirmar   contraseña: </label>
                    <div class="col-md-4">
                        <input class="form-control" name="passwordConfirm" type="password" ng-model="passwordConfirm">
                    </div>
                    <div class="col-md-3"></div>
                </div>
            <div class="form-group">
                <div class="col-md-offset-5 col-md-4">
                    <button class="btn btn-default" type="submit">Registrarse</button>
                </div>
            </div>
        </form>
        <div class="col-md-offset-5 col-md-4 alert alert-danger" ng-if="existMessage()" role="alert">
            {{message}}
        </div>
    </div>