.titulo-nav {
	color: white;
	font-size: 250%;
	padding-left: 10%;
}

.color-nav {
	background-color: #B40404;
	border-radius: 0;
	border: 0;
	color:#B40404;
}

.color-active {
	background-color: #8A0808;
	color: #8A0808;
}

.navbar-default {
    background-color: #B40404;
    border-color: #E7E7E7;
}
.navbar-default.navbar-brand,
.navbar-default.navbar-brand:hover,
.navbar-default.navbar-brand:focus {
	color: #fff;
}
.navbar-default.navbar-nav>li>a{
	color: #fff;
}
.navbar-default.navbar-nav>.active>a
.navbar-default.navbar-nav>.active>a:hover,
.navbar-default.navbar-nav>.active>a:focus {
	color :#fff;
	background-color: #8A0808;
}

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

p.capitalize {
	text-transform: capitalize;
	font-size: 180%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

html *{
	font-family: 'Montserrat', sans-serif !important;
}


#color-posts {
	color: #fff;
}

.fondo {
	background-image: url("images/notepad.png");
}

#notes li {
    position: relative;
    width: 300px;
    min-height: 100px;
    margin: 25px auto;
    padding: 60px 15px 15px 15px;
    background: #F4FA58
    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    -moz-box-shadow: 0 2px 12px rgba(0,0,0,.5);
    box-shadow: 0 1px 2px #000;
    -webkit-transform: rotate(-.5deg);
    -moz-transform: rotate(-.5deg);
    -o-transform: rotate(-.5deg);
}

#notes li:nth-child(even) {
    -webkit-transform: rotate(.5deg);
    -moz-transform: rotate(.5deg);
    -o-transform: rotate(.5deg);
}

#notes li p {
    text-align: center;
    font-size: 110%;
    color: #000;
    text-shadow: white 1px 1px 0px;
    /*overflow:hidden;*/
}

#notes li::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 115px;
    top: -15px;
    width: 75px;
    height: 25px;
    z-index: 2;
    background-color: rgba(243,245,228,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

#notes li:nth-child(even)::before {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}

#notes li.kiln
{
    background: #F4FA58;
}

menu, ol, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-box {
	border: 1px solid #bdbdbd;
	border-color: #7f7f7f;
 	border-style: dashed;
 	padding: 20px;
 	margin: 0 0 25px;
}

