.titulo-nav {
	color: white;
	font-size: 250%;
	padding-left: 10%;
}

.color-nav {
	background-color: #B40404;
	border-radius: 0;
	border: 0;
	color:#B40404;
}

.color-active {
	background-color: #8A0808;
	color: #8A0808;
}

.navbar-default {
    background-color: #B40404;
    border-color: #E7E7E7;
}
.navbar-default.navbar-brand,
.navbar-default.navbar-brand:hover,
.navbar-default.navbar-brand:focus {
	color: #fff;
}
.navbar-default.navbar-nav>li>a{
	color: #fff;
}
.navbar-default.navbar-nav>.active>a
.navbar-default.navbar-nav>.active>a:hover,
.navbar-default.navbar-nav>.active>a:focus {
	color :#fff;
	background-color: #8A0808;
}

h3 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

p.capitalize {
	text-transform: capitalize;
	font-size: 180%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

html *{
	font-family: 'Montserrat', sans-serif !important;
}